@import url("https://fonts.maateen.me/mukti/font.css");
@import url("https://fonts.maateen.me/adorsho-lipi/font.css");
:root {
  --topbar-bg-color: #f7f8f9;
  --border: 0.2px solid #e5e7eb;
  --section-bg: #f8f8ff;
  --color-section-bg: #6d28d9;
  --card-bg: #ffffff;
  --card-body-bg: #d8e3ee;
  --btn-hover-bg: #f8fafc;

  --bn-text-color: #39475a;
  --btn-color: #334155;
  --main-color: #6d28d9;
  --dark-color: #0f172a;
  --bg-img: url(https://i.postimg.cc/zB9BQkHQ/bannerbg.jpg);
}

[data-theme="dark"] {
  --main-color: #38bdf8;
  --topbar-bg-color: #0f172a;
  --dark-color: #1f2937;
  --btn-color: #94a3b8;
  --btn-hover-bg: #0f172a;
  --bn-text-color: #94a3b8;
  --bg-img: url(https://i.postimg.cc/GptmhfkN/dark-bg.jpg);
  --section-bg: #0f172a;
  --color-section-bg: #0f172a;
  --card-bg: #0b1120;
  --card-body-bg: #0b1120;
  --border: 0.2px solid rgba(248, 250, 252, 0.08);
}

#active_btn {
  background-color: var(--dark-color);
  color: #fff;
}
.active_btn {
  background-color: var(--dark-color);
  color: #fff;
  border-radius: 5px;
}
